<div class="row mt-5">
    <div class="card col-sm-8 m-auto">
        <div class="mt-3">
            <h3 class="text-bold text-center font-weight-bold ">ShortUrl</h3>
            {{> message}}
        </div>

        <form action="/users/register" method="POST" class="card-body" style="text-align:center;">
            <img src="./logo.png" class="rounded mx-auto d-block" alt="logo">
            <h5>短網址生成成功!!<a href="{{key}}">{{shortUrl}}</a></h5>

            <a href="/" class="btn btn-light px-5  btn-outline-primary">Return</a>
        </form>
    </div>
</div>